
<div class="container">
  <h3>Contact</h3>
  <div class="container">
      <div class="row" name="contact_us_form">
          <list-errors errors="$ctrl.errors"></list-errors>
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                  <input type="text" placeholder="Nombre" name="nombre" ng-model="$ctrl.usuario.nombre" required>
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                  <input type="text" placeholder="Apellidos" name="apellidos" ng-model="$ctrl.usuario.apellido" required>
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                  <input type="email" placeholder="Email" name="email" ng-model="$ctrl.usuario.email" required>
                <label for="password">Mail</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                  <textarea ng-model="$ctrl.usuario.queja" id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Quejas</label>
              </div>
            </div>
            <a class="waves-effect waves-light btn" id="test_enviar" ng-click="$ctrl.enviar()">Enviar</a>
          </form>
          
        </div>
    </div>
</div>


        