<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <div class="col s6">
          <prduct-list ng-if="$ctrl.filter3" filter="$ctrl.filter3"></prduct-list>
          <prduct-list ng-if="$ctrl.filter2" filter="$ctrl.filter2"></prduct-list>
        </div>
        <div class="col s6">
          <prduct-list ng-if="$ctrl.filter" filter="$ctrl.filter"></prduct-list>
          <prduct-list ng-if="$ctrl.filter4" filter="$ctrl.filter4"></prduct-list>
        </div>
      </div>
      <br><br>
    </div> 
  </div>
